{% load blog_tags %}
<div class="block-content collapse in">
    <div class="span12">
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> 用户名 </div>
                <div class="profile-info-value">
                    <span id="username">{{ user.username }}</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> UID </div>
                <div class="profile-info-value">
                    <span id="username">{{ user.pk }}</span>
                </div>
            </div>
        </div>
    </div>
</div>